.score-grade{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 25px;
    padding: 10px;
    font-family: "Rubik Dirt", system-ui;
    direction: rtl;
    border: 5px solid #cf58dc;
    border-radius: 10px;
}