.multiplication-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.main-game-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image:url('/tableBackground.jpg') ;
  background-size: cover;
}
td{
  text-align: center;
  padding: 5px 15px;
  font-size: large;
  font-weight: bold;
  font-family: "Fredoka", sans-serif;

}
th{
  text-align: center;
  padding: 10px;
  font-size: large;
  font-family: "Fredoka", sans-serif;

}
.initial-button {
  padding: 7px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: medium;
  border: 1px solid transparent;
  border-radius: 25%;
  font-family: "Fredoka", sans-serif;
}


.user-name-label{
  font-family: "Rubik Scribble", system-ui;
  font-size: 25px;
  font-weight: bold;
  color: black;
  text-align: center;
  padding-top: 20px;
  direction: rtl;
}
.table-div{
  display: grid;
  direction: ltr;
  grid-column: auto;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.reset-button{
  background-color: #cf58dc;
  color:black;
  border: 1px solid #cf58dc;
  cursor: pointer;
  font-size: medium;
  border-radius: 15px;
  text-align: center;
  font-family:"Fredoka", sans-serif;
}

.popup {
  padding: 20px;
  text-align: center;
}



